@font-face {
    font-family: 'You Blockhead';
    src: url('./fonts/You Blockhead.ttf') format('woff');
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: overlay;
    background: url("./resources/img/page.png");
}

#header {
    background: url("./resources/img/header.png");
    height: 70px;
    padding: 5px 8px;
}

#title {
    font-family: "You Blockhead", serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-align: center;
    color: dodgerblue;
}

.button {
    position: absolute;
    padding: 10px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
    font-family: Arial, sans-serif;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}

#deck {
    display: flex;
    justify-content: center;
    position: relative;
    top: 15px;
}

#card {
    display: flex;
    /* changing justify-content center to left makes cards move with window resize/zoom */
    justify-content: center;
    position: relative;
    top: 10px;
    cursor: pointer;
}
