@font-face {
    font-family: 'You Blockhead';
    src: url('./fonts/You Blockhead.ttf') format('woff');
}

.title {
    font-family: "You Blockhead", serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-align: center;
    color: dodgerblue;
}

body {
    background: url("./resources/img/background.png");
}
